
<div class="signincomponent">
    <h1>Sign In</h1>
    <div class="Guidelines"><p>Don't have an account?<a href="/signup" class="Signup">Sign Up</a></p></div>
    <form>
        <label for="Email">Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="Contact Number">Number</label><br>
        <input type="text" id="Contact number" name="number"><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password">
    </form>
    <a href="#" id="forgot" class="password">Forgot Your Password?</a><br>
    <input class="signin" type="button" routerLink="/contactform" value="Sign In">
    <img src="/assets/login_1.jpg"
    style="width:10%;height:10%;">
    
</div>